<div class="card">
    <div class="card-body">
        <h5 class="titulo">LIST SERVICES</h5>
        <table class="table">
            <tbody>
                <tr>
                    <td>00001</td>
                    <td>00001</td>
                    <td>12/01/22</td>
                    <td>08:15</td>
                    <td>12/01/22</td>
                    <td>15:45</td>
                    <td>3</td>
                    <td>
                        <i  class="far fa-edit text-info"></i>
                        <i  class="far fa-trash-alt text-danger"></i>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>  